<form class="profile-search-form" [formGroup]="searchForm">
  <label class="ag-form-label" for="">
    <span class="ag-form-label__text">Имя</span>
    <input type="text" class="ag-form-input" formControlName="firstName" />
  </label>

  <label class="ag-form-label" for="">
    <span class="ag-form-label__text">фамилия</span>
    <input type="text" class="ag-form-input" formControlName="lastName" />
  </label>

  <label class="ag-form-label" for="">
    <span class="ag-form-label__text">Навыки</span>
    <input type="text" class="ag-form-input" formControlName="stack" />
  </label>
</form>
