@font-face {
  font-display: swap;
  font-family: Ralewey;
  font-style: normal;
  font-weight: 800;
  src: url(/public/assets/fonts/Raleway-Black.ttf);
}

@font-face {
  font-display: swap;
  font-family: Ralewey;
  font-style: normal;
  font-weight: 500;
  src: url(/public/assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-display: swap;
  font-family: Ralewey;
  font-style: normal;
  font-weight: 400;
  src: url(/public/assets/fonts/Raleway-ThinItalic.ttf);
}

@font-face {
  font-display: swap;
  font-family: Ralewey;
  font-style: normal;
  font-weight: 700;
  src: url(/public/assets/fonts/Raleway-Bold.ttf);
}
